.appContainer {
  padding: calc(10 * var(--mui-spacing)) 0;
  height: 100%;
}

.toolbar {
  justify-content: space-between;
  padding: 0;
}

.headerActions {
  display: flex;
  align-items: center;
  gap: 32px;
}

.appBar {
  opacity: 98%;
}

.divider {
  margin: calc(2 * var(--mui-spacing)) 0;
}

.main {
  height: 100%;
}